@import "~bootstrap/scss/bootstrap";

$nav-theme-color: rgb(0, 0, 130);

.body{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 25px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-left: 30px;
}

.navbar{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 1px;
    text-decoration: none;
    margin: auto;

};


.navbar-about, .navbar-main {
  text-decoration: none;
  color: black;
}

//Removes spinner control (arrows) from zip code input
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.btn-group{
  margin-bottom: 10px;
  background-color: #29B675;
}


//ZIP CODE FORM
.form-group{
  padding-left: 20px;
  padding-top: 80px;
  display: grid;
  grid-column-start: 2;
  grid-row-start: 2;
  align-self: start;
  justify-self: center;
  text-align: center;
  max-width: 500px;
}
    


//Parent container for energy orbs
.orbs-parent{
  align-self: center;
  display: grid;
  grid-column-start: 1;
  padding-top: 20px;
  grid-template-columns: [first] 200px [line2] 200px [line3] 200px;
  grid-template-rows: [row1] 200px [row2] 200px [row3] 200px;
  text-align: center;
  vertical-align: middle;
  height: 600px;
  width: 600px;
  background-color: #F7F7EE;
  border-radius: 20%;
  border:2px solid black;
  }
  
  //style for solar orb resize
  .temp-orb{
    justify-self: center;
    padding-top: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: row2;
    grid-row-end: row3;
    width: 150px;
    height: 150px;
    resize: both;
    border-radius: 50%;
    box-shadow:
    inset 0 0 30px #fff,
      inset 20px 0 80px #FF4100,
      inset -20px 0 80px #FFCF63,
      inset 20px 0 300px #FF4100,
      inset -20px 0 300px #FFCF63,
      0 0 10px #fff,
      -10px 0 30px #FF4100,
      10px 0 30px #FFCF63;
  }
  
  //style for wind orb resize
  .humidity-orb{
    justify-self: center;
    padding-top: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: row3;
    grid-row-end: row3;
    width: 150px;
    height: 150px;
    resize: both;
    border-radius: 50%;
    box-shadow:
      inset 0 0 30px #fff,
      inset 20px 0 80px rgb(106, 137, 193),
      inset -20px 0 80px rgb(119, 129, 146),
      inset 20px 0 300px rgb(106, 137, 193),
      inset -20px 0 300px rgb(119, 129, 146),
      0 0 10px #fff,
      -10px 0 30px rgb(106, 137, 193),
      10px 0 30px rgb(119, 129, 146);
  }
  
  //style for rain orb
  .wind-orb{
    justify-self: center;
    padding-top: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: row2;
    grid-row-end: row3;
    width: 150px;
    height: 150px;
    resize: both;
    border-radius: 50%;
    box-shadow:
    inset 0 0 30px #fff,
      inset 20px 0 80px #e5e5e5,
      inset -20px 0 80px rgb(97, 107, 125),
      inset 20px 0 300px #e5e5e5,
      inset -20px 0 300px rgb(97, 107, 125),
      0 0 10px #fff,
      -10px 0 30px #e5e5e5,
      10px 0 30px rgb(97, 107, 125);
  }

   //style for precip orb
   .precip-orb{
    justify-self: center;
    padding-top: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: row1;
    grid-row-end: row2;
    width: 150px;
    height: 150px;
    resize: both;
    border-radius: 50%;
    box-shadow:
      inset 0 0 30px #fff,
      inset 20px 0 80px #141444,
      inset -20px 0 80px #a0b6c4,
      inset 20px 0 300px #141444,
      inset -20px 0 300px #a0b6c4,
      0 0 10px #fff,
      -10px 0 30px #141444,
      10px 0 30px #a0b6c4;
  }

  .cloud-orb{
    justify-self: center;
    padding-top: 20px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: row2;
    grid-row-end: row3;
    width: 150px;
    height: 150px;
    resize: both;
    border-radius: 50%;
    box-shadow:
      inset 0 0 30px #fff,
      inset 20px 0 80px #6d6d6d,
      inset -20px 0 80px #928dc9,
      inset 20px 0 300px #6d6d6d,
      inset -20px 0 300px #928dc9,
      0 0 10px #fff,
      -10px 0 30px #6d6d6d,
      10px 0 30px #928dc9;
  }
  .cloud-orb:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }

  @keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
      -webkit-transform: translateY(0);
      -ms-transform:     translateY(0);
      transform:         translateY(0)
    }
    40% {
      -webkit-transform: translateY(-30px);
      -ms-transform:     translateY(-30px);
      transform:         translateY(-30px)
    }
    60% {
      -webkit-transform: translateY(-15px);
      -ms-transform:     translateY(-15px);
      transform:         translateY(-15px)
    }
  }

  .table {
    margin-left: 50px;
    grid-column-start: 2;
    grid-row-start: 2;
    place-self: center;
    max-width: 800px;
    text-align: center;
  }
  thead {
    font-weight: 400;
    background: #29B675;
  }
  
  // .table tr td:last-child {
  //   border-left: 5px solid #ffffff;
  // }
  // .table tr th:last-child {
  //   border-left: 5px solid #ffffff;
  // }




  // #about-container{
  //   display: grid;
  //   grid-template-rows: repeat(4, 500px);
  //   grid-template-columns: repeat(3, 1fr);
  //   // background-image: url(../assets/Wind-farm-turbines-WV.jpeg);
  //   height: 100%;
  //   overflow-x: hidden;
  // }
  
#goal{
  display: grid;
  background-color: black;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  // background-image: url(../assets/about-banner.png);
}

// .goal-container{
//   grid-area: 1 / 1 / 1 / 1;
// }

// .paragraph1{
//   grid-area: 2 / 1 / 2 / 1;
// }
.how-flex{
  display: flex;
  align-items: center;
  align-content: center;
}

#how-we-did-it{
  grid-area: 2 / 1 / 2 / 4;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

#more-info{
  grid-area: 3 / 1 / 3 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.paragraph1{
  grid-area: 1 / 1 / 1 / 1;
}